<div role="alert" class="alert alert-{{ params.context }}
  {% if params.cls %}{{ params.cls }}{% endif %}
  {% if params.dismiss %}alert-dismissable{% endif %}
  {% if not params.noAnimation %}fade show{% endif %}
  "
  {{ cmpt('commonAttr', params) }}
>
{{ params.content|safe }}
{% if params.dismiss %}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
{% endif %}
</div>
