{% if params.tag == 'a' %}
  <a href="{% if params.href|safe %}{{ params.href }}{% else %}#{% endif %}" class="badge
    {% if params.cls %}{{ params.cls }}{% endif %}
    {% if params.context %}badge-{{ params.context }}{% endif %}
    {% if params.pill %}badge-pill{% endif %}
    {% if not params.noAnimation %}fade show{% endif %}
    "
    {{ cmpt('commonAttr', params) }}
  >{{ params.text }}</a>
{% else %}
  <span class="badge
    {% if params.cls %}{{ params.cls }}{% endif %}
    {% if params.context %}badge-{{ params.context }}{% endif %}
    {% if params.pill %}badge-pill{% endif %}
    {% if not params.noAnimation %}fade show{% endif %}
    "
    {{ cmpt('commonAttr', params) }}
  >{{ params.text }}</span>
{% endif %}
{% if params.srOnly %}
<span class="sr-only">{{ params.srOnly }}</span>
{% endif %}
