{% if not params.context %}
{% set params = _.merge(params, { context: 'primary' }) %}
{% endif %}
{% if params.tag == 'a' %}
<a href="{% if params.href|safe %}{{ params.href }}{% else %}#{% endif %}"
  {% if not params.href %}role="button"{% endif %} class="btn
  {% if params.cls %}{{ params.cls }}{% endif %}
  {% if params.context %}btn{% if params.outline %}-outline{% endif %}-{{ params.context }}{% endif %}
  {% if params.textSize %}btn-{{ params.textSize }}{% endif %}
  {% if params.block %}btn-block{% endif %}
  {% if params.active %}active{% endif %}
  {% if params.disabled %}disabled{% endif %}"
  {% if params.disabled %}tabindex="-1" aria-disabled="true"{% endif %}
  {% if params.active %}aria-pressed="true"{% endif %}
  {{ cmpt('commonAttr', params) }}
>{{ params.title }}</button>
{% else %}
<button type="button" class="btn
  {% if params.cls %}{{ params.cls }}{% endif %}
  {% if params.context %}btn{% if params.outline %}-outline{% endif %}-{{ params.context }}{% endif %}
  {% if params.textSize %}btn-{{ params.textSize }}{% endif %}
  {% if params.block %}btn-block{% endif %}
  {% if params.active %}active{% endif %}"
  {% if params.disabled %}disabled{% endif %}
  {% if params.active %}aria-pressed="true"{% endif %}
  {{ cmpt('commonAttr', params) }}
>{{ params.title }}</button>
{% endif %}