<div class="card
  {% if params.context %}bg-{{ params.context }}{% endif %}
  {% if params.textColor %}text-{{ params.textColor }}{% endif %}
  {% if params.borderColor %}border-{{ params.borderColor }}{% endif %}
  {% if params.cls %}params.cls{% endif %}"
  {{ cmpt('commonAttr', _.merge(params, { skipTtPo: true })) }}
>
  {% if params.header %}
    {% set header = params.header if _.isPlainObject(params.header) else { content: params.header } %}
    {{ cmpt('cardHeader', header ) }}
  {% endif %}
  {% if params.content %}
    {% set content = params.content if _.isArray(params.content) else [params.content] %}
    {% for b in content %}
      {{ b }}
    {% endfor %}
  {% endif %}
  {% if params.footer %}
    {% set footer = params.footer if _.isPlainObject(params.footer) else { content: params.footer } %}
    {{ cmpt('cardFooter', footer ) }}
  {% endif %}
</div>