{% if params.id %}id="{{ params.id }}"{% endif %}
{% if params.attr %}{{ params.attr }}{% endif %}
{% if _.isPlainObject(params.data) %}
  {% for k,v in params.data %}
  data-{{ k }}="{{ v }}"
  {% endfor %}
{% endif %}
{% if not params.skipTtPo %}
  {% if params.tt %}
    {% set place = 'top' if not params.ttDir else params.ttDir %}
    title="{{ params.tt }}" data-toggle="tooltip" data-placement="{{ place }}"
  {% endif %}
  {% if params.po %}
    {% set place = 'top' if not params.poDir else params.poDir %}
    {% if params.poTitle %}title="{{ params.poTitle }}"{% endif %}
    {% if params.poContainer %}data-container="{{ params.poContainer }}"{% endif %}
    {% if not params.poNoDismiss %}data-trigger="focus"{% endif %}
    data-content="{{ params.po }}" data-toggle="popover" data-placement="{{ place }}"
  {% endif %}
{% endif %}