{% macro buildMenu(menu) %}
{% for m in menu %}
  {% if _.isString(m) %}
  {% set m = { text: m } %}
  {% endif %}
  {% if m.divider %}
    <div class="dropdown-divider"></div>
  {% else %}
    <a href="{{ m.href|d('#')|safe }}" class="dropdown-item
      {% if m.active %}active{% endif %}
      {% if m.disabled %}disabled{% endif %}"
      {% if m.id %}id="{{ m.id }}"{% endif %}
      {{ cmpt('dataAttr', m.data) }}
      {% if m.attr %}{{ m.attr|safe }}{% endif %}
    >{{ m.text }}</a>
  {% endif %}
{% endfor %}
{% endmacro %}

{% if not params.context %}
{% set params = helper('core:merge')(params, { context: 'primary' }) %}
{% endif %}
<div class="dropdown {{ params.wrapperCls }}
  {% if params.id %}id="{{ params.id }}"{% endif %}
  {% if params.split %}btn-group{% endif %}
  {% if params.dir %}drop{{ params.dir }}{% endif %}"
  {{ cmpt('dataAttr', params.data) }}
>
  {% if params.split %}
  <button type="button" class="btn
    {% if params.context %}btn{% if params.outline %}-outline{% endif %}-{{ params.context }}{% endif %}"
  >{{ params.title }}</button>
  {% endif %}
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    class="btn dropdown-toggle
    {% if params.split %}dropdown-toggle-split{% endif %}
    {% if params.cls %}{{ params.cls }}{% endif %}
    {% if params.context %}btn{% if params.outline %}-outline{% endif %}-{{ params.context }}{% endif %}
    {% if params.textSize %}btn-{{ params.textSize }}{% endif %}
    {% if params.block %}btn-block{% endif %}
    {% if params.active %}active{% endif %}"
    {% if params.id %}id="{{ params.id }}-btn"{% endif %}
    {% if params.attr %}{{ params.attr|safe }}{% endif %}
  >
    {% if params.split %}
    <span class="sr-only">Toggle Dropdown</span>
    {% else %}
    {{ params.title }}
    {% endif %}
  </button>
  <div class="dropdown-menu {% if params.align %}dropdown-menu-{{ params.align }}{% endif %}"
    {% if params.id %} aria-labelledby="{{ params.id }}-btn"{% endif %}>
    {% if _.isPlainObject(params.menu) %}
      {% for k,menu in params.menu %}
        <h6 class="dropdown-header">{{ k|safe }}</h6>
        {{ buildMenu(menu) }}
      {% endfor %}
    {% else %}
      {{ buildMenu(params.menu) }}
    {% endif %}
  </div>
</div>
