{% if not params.layout %}
{% set params = helper('core:merge')(params, { layout: 'vertical' }) %}
{% endif %}
{% if params.stacked %}
<div class="form-group {{ params.cls }}"
  {% if params.id %}id="{{ params.id }}"{% endif %}
>
  {{ cmpt('label', params.label) }}
  {{ cmpt(params.input.baseCmpt, params.input) }}
  {% if params.hint %}
  {{ cmpt('hint', params.hint) }}
  {% endif %}
</div>
{% else %}
{% set width = params.width|d('3:9')|split(':') %}
<div class="form-group row {{ params.cls }}"
  {% if params.id %}id="{{ params.id }}"{% endif %}
>
  {{ cmpt('label', { text: params.label.text, for: params.input.id, cls: 'col-form-label col-sm-' + width[0] + ' ' + params.label.cls|d('') }) }}
  <div class="col-sm-{{ width[1] }} {{ params.input.cls }}">
    {{ cmpt(params.input.baseCmpt, params.input) }}
    {% if params.hint %}
    {{ cmpt('hint', params.hint) }}
    {% endif %}
  </div>
</div>
{% endif %}
