<small {% if params.id %}id="{{ params.id }}"{% endif %} class="form-text text-muted
  {% if params.cls %}{{ params.cls }}{% endif %}"
  {{ cmpt('commonAttr', _.merge(params, { skipTtPo: true })) }}
>{{ params.text }}</small>
