{% set prevTxt = 'Previous' %}
{% set nextTxt = 'Next' %}
{% if params.prev %}
{% set txt = ('<span aria-hidden="true">&laquo;</span><span class="sr-only">' + prevTxt + '</span>') if params.arrow else prevTxt %}
{% set params = _.merge(params, { prev: { text: txt } }) %}
{% endif %}
{% if params.next and params.arrow %}
{% set txt = ('<span aria-hidden="true">&raquo;</span><span class="sr-only">' + nextTxt + '</span>') if params.arrow else nextTxt %}
{% set params = _.merge(params, { next: { text: txt } }) %}
{% endif %}

{% macro page(p, m) %}
  <li class="page-item
    {% if p.disabled %}disabled{% endif %}
    {% if p.active and not m %}active{% endif %}
    {% if p.cls %}{{ p.cls }}{% endif %}"
    {{ cmpt('commonAttr', p) }}
  >
    <a class="page-link" href="{{ p.href|d('#') }}"
      {% if m == 'prev' %}aria-label="{{ prevTxt }}"{% endif %}
      {% if m == 'next' %}aria-label="{{ nextTxt }}"{% endif %}
      {% if p.disabled %}tabindex="-1"{% endif%}
    >
      {{ p.text }}
      {% if p.active and not m %}<span class="sr-only">(current)</span>{% endif %}
    </a>
  </li>
{% endmacro %}

<nav aria-label="{{ params.ariaLabel|d('...') }}">
  <ul class="pagination
    {% if params.textSize %}pagination-{{ params.textSize }}{% endif %}
    {% if params.align %}justify-content-{{ params.align }}{% endif %}
    {% if params.cls %}{{ params.cls }}{% endif %}"
    {% if params.id %}id="{{ params.id }}"{% endif %}
    {% if params.attr %}{{ params.attr }}{% endif %}
    {{ cmpt('dataAttr', params.data) }}
  >
    {% if params.prev %}{{ page(params.prev, 'prev') }}{% endif %}
    {% for p in params.page %}
      {% if not _.isPlainObject(p) %}{% set p = { text: p + '' } %}{% endif %}
      {{ page(p) }}
    {% endfor %}
    {% if params.next %}{{ page(params.next, 'next') }}{% endif %}
  </ul>
</nav>