{% for i in ['value', 'striped', 'animated', 'context', 'label', 'barId'] %}
  {% if params[i] %}
    {% set params = _.merge(params, { bar: _.set({}, 'id' if i == 'barId' else i, params[i]) }) %}
  {% endif %}
{% endfor %}
{% set bar = params.bar if _.isArray(params.bar) else [params.bar] %}
<div class="progress"
  {% if params.height %}style="height: {{ params.height }}px"{% endif %}
  {{ cmpt('commonAttr', _.merge(params, { skipTtPo: tre })) }}
>
  {% for b in bar %}
    {% set value = b.value|d('0') %}
    <div class="progress-bar
      {% if b.striped %}progress-bar-striped{% endif %}
      {% if b.striped and b.animated %}progress-bar-animated{% endif %}
      {% if b.context %}bg-{{ b.context }}{% endif %}
      " role="progressbar" style="width: {{ value }}%" aria-valuenow="{{ value }}"
      aria-valuemin="0" aria-valuemax="100"
      {{ cmpt('commonAttr', b) }}
    >
    {% if b.label %}
      {% set label = (value + '%') if _.isBoolean(b.label) else b.label %}
      {{ label }}
    {% endif %}
    </div>
  {% endfor %}
</div>