{% if params.custom and not params.id %}
{% set params = _.merge(params, { custom: false }) %}
{% endif %}
{% if not params.plain %}
<div class="{% if params.custom %}custom-control custom-radio{% else %}form-check{% endif %}
  {% if params.inline %}{{ 'custom-control-inline' if params.custom else 'form-check-inline' }}{% endif %}"
>
{% endif %}
  {% set params = _.omit(params, ['plainText', 'type', 'textSize', 'placeHolder', 'hintId', 'readOnly', 'tt', 'ttDir', 'po', 'poDir', 'title', 'poNoDismiss']) %}
  {% set checked = ' checked' if params.checked else '' %}
  {% set ariaLabel = '' if params.label else ' aria-label="..."' %}
  {% set attr = params.attr|d('') + checked + ariaLabel %}
  {% set cls = '' if params.label else ' position-static' %}
  {% if not params.plain %}
  {% set dcls = 'custom-control-input' if params.custom else 'form-check-input' %}
  {% endif %}
  {% set params = _.merge(params, { type: 'radio', cls: cls + ' ' + dcls|d(''), attr: attr }) %}
  {{ cmpt('text', params) }}
  {% if params.label %}
    {% if not params.plain %}
    {% set cls = 'custom-control-label' if params.custom else 'form-check-label' %}
    {% endif %}
    <label class="{{ cls|d('') }}" {% if params.id %}for="{{ params.id }}"{% endif %}>{{ params.label }}</label>
  {% endif %}
{% if not params.plain %}
</div>
{% endif %}