{% set values = [] %}
{% set value = params.value|d('') %}
{% if params.multiple %}
  {% if _.isString(value) %}
  {% set value = helper('core:makeChoices')(value) %}
  {% endif %}
{% endif %}
{% if params.choose and not params.multiple %}
  {% if _.isString(params.choose) %}
  {% set values = values|push(params.choose) %}
  {% else %}
  {% set values = values|push({ id: '', text: '- Choose -' }) %}
  {% endif %}
{% endif %}
{% if _.isPlainObject(params.values) %}
  {% for k, v in params.values %}
  {% set values = values|push({ id: k, text: v }) %}
  {% endfor %}
{% elif _.isArray(params.values) %}
  {% for v in opt.values %}
    {% if _.isString(v) %}
    {% set values = values|push({ id: v, text: v }) %}
    {% elif _.isPlainObject(v) %}
    {% set values = values|push({ id: v.id, text: v.text }) %}
    {% endif %}
  {% endfor %}
{% endif %}
<select name="{{ params.name }}" class="
  {% if params.custom %}custom-select{% else %}form-control{% endif %}
  {% if params.cls %}{{ params.cls }}{% endif %}
  {% if params.textSize %}form-control-{{ params.textSize }}{% endif %}"
  {% if params.placeHolder %}placeholder="{{ params.placeHolder }}"{% endif %}
  {% if params.hintId %}aria-describedby="{{ params.hintId }}"{% endif %}
  {% if params.readOnly %}readonly{% endif %}
  {% if params.disabled %}disabled{% endif %}
  {% if params.multiple %}multiple{% endif %}
  {% if params.rows %}size="{{ params.rows }}"{% endif %}
  {{ cmpt('commonAttr', params) }}
>
{% for v in values %}
  {% if params.multiple %}
  <option value="{{ v.id }}"{% if value|indexOf(v.id) > -1 %} selected{% endif %}>{{ v.text }}</option>
  {% else %}
  <option value="{{ v.id }}"{% if v.id == value %} selected{% endif %}>{{ v.text }}</option>
  {% endif %}
{% endfor %}
</select>
