<textarea name="{{ params.name }}" class="form-control
  {% if params.cls %}{{ params.cls }}{% endif %}
  {% if params.textSize %}form-control-{{ params.textSize }}{% endif %}"
  {% if params.id %}id="{{ params.id }}"{% endif %}
  {% if params.placeholder %}placeholder="{{ params.placeHolder }}"{% endif %}
  {% if params.hintId %}aria-describedby="{{ params.hintId }}"{% endif %}
  {% if params.readOnly or params.plainText %}readonly{% endif %}
  {% if params.rows %}rows="{{ params.rows }}"{% endif %}
  {% if params.cols %}cols="{{ params.cols }}"{% endif %}
  {% if params.disabled %}disabled{% endif %}
  {% if params.attr %}{{ params.attr }}{% endif %}
  {{ cmpt('dataAttr', params.data) }}
>{% if params.value %}{{ params.value }}{% endif %}</textarea>
