<div class="btn-group{% if params.stacked %}-vertical{% endif %}
  {% if params.textSize %}btn-group-{{ params.textSize }}{% endif %}
  {% if params.cls %}{{ params.cls }}{% endif %}"
  role="group" {% if params.ariaLabel %}aria-label="{{ params.ariaLabel }}"{% endif %}
  {% if params.id %}id="{{ params.id }}"{% endif %}
  >
  {% for v in params.buttons %}
  {{ v }}
  {% endfor %}
</div>
