<div class="card-body">
  {% if params.title %}
    <h5 class="card-title
      {% if params.titleCls %}{{ params.titleCls }}{% endif %}"
    >
      {{ params.title }}
    </h5>
  {% endif %}
  {% if params.subtitle %}
    <h6 class="card-subtitle
    {% if params.subtitleCls %}{{ params.subtitleCls }}"
  >
    {{ params.subtitle }}
  </h6>
  {% endif %}
  {{ params.content|d('') }}
</div>