{% set input = params.input if _.isArray(params.input) else [params.input] %}
{% set newInput = [] %}
{% for i in input %}
  {% set item = {} %}
  {% for val in ['name', 'textSize', 'disabled', 'inline', 'custom'] %}
    {% if params[val] %}
      {% set item = _.merge(item, _.set({}, val, params[val])) %}
    {% endif %}
  {% endfor %}
  {% set newInput = newInput|push(_.merge(i, item)) %}
{% endfor %}
{% set params = _.merge(params, { input: newInput }) %}
{% if params.labelCls %}
  {% set params = _.merge(params, { label: { cls: params.labelCls } }) %}
{% endif %}
{% if params.hintCss %}
  {% set params = _.merge(params, { hint: { cls: params.hintCss } }) %}
{% endif %}
{% if _.isString(params.label) %}
  {% set params = _.merge(params, { label: { text: params.label } }) %}
{% endif %}
{% if _.isString(params.hint) %}
  {% set params = _.merge(params, { hint: { text: params.hint } }) %}
{% endif %}
{{
  cmpt('formGroup', _.merge(params, { baseCmpt: 'radio' }))
}}